* {
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
}

.page-bg {
  background-image: url("/Bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 100% 0%;
}

.footer {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -5%;
  color: #1a1a1a;
  margin-top: 20px;
}

.subtile {
  font-weight: 600;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: -6%;
}

.subsubtile {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: -5%;
  color: #5c5c5c;
}

.righttitle {
  font-weight: 600;
  font-size: 56px;
  line-height: 100%;
  letter-spacing: -6%;
  color: #252525;
}

.rightsubtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: -5%;
  color: #5c5c5c;
  margin-top: 20px;
}

.faqtitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -4%;
  color: #f76a23;
  margin-bottom: 30px;
}

.subtitlefaq {
  font-weight: 500;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -2px;
  vertical-align: middle;
  color: #111216;
  margin-bottom: 20px;
}

.subsubfaq {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -4%;
  color: #5d5d65;
}

.head {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -5%;
  color: #111216;
}

.head1 {
  color: #111216;
}

.discription {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -0.05em;
  color: #626365;
}

.lear {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: -0.05em;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 1px;
  text-decoration-skip-ink: auto;
}

.monthfooter {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -4%;
  text-align: center;
  color: #ff8d28;
  margin-top: 40px;
}

.monthsubtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: -4%;
  text-align: center;
  color: #5d5d65;
  margin-top: 40px;
}

.monttitle {
  font-weight: 500;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -4px;
  text-align: center;
  vertical-align: middle;
  color: #171723;
}

.toptitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -4%;
  color: #ff8d28;
  margin-bottom: 30px;
}

.topsubtitle {
  font-weight: 500;
  font-size: 42px;
  line-height: 42px;
  letter-spacing: -4px;
  vertical-align: middle;
  color: #171723;
}

.topbody {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -4%;
  color: #5d5d65;
  margin-bottom: 30px;
}

.mar-btm {
  margin-bottom: 30px;
}
